{% extends 'recipes/layout.html' %}
{% load static %}
{% block content %}
{% include 'recipes/nav.html' %}
<h1 style="text-align: center">Categories</h1>
    <div class="flex-container">
        {% for c in categories %}
          <div class="flex-item">
            <img src="../../static/recipes/{{c.pic_path}} " alt={{ c.name }} />
          <p>{{ c.name }}</p>
          </div>
        {% endfor %}
    </div>

{% endblock content %}
{% block css %}
<style>
  .flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .flex-container .flex-item{
    margin-bottom: 10px;
  }
  .flex-container .flex-item img{
    width: 330px;
    height:300px;
  }
  .flex-container .flex-item p{
    width:auto;
    height:30px;
    text-align: center;
    background-color:black;
    color:aliceblue;
    padding: 5px;
  }
  #last{
    margin-bottom: 40px;
  }
</style>
{% endblock %}
