{% extends 'recipes/base.html' %}
{% block content %}
<h1>Categories</h1>
{% load static %}
<div class="contentimg">
    <span class="img_content">
        <a href="" target="view_frame">
            <img src="{% static "images/soup.jpg" %}" alt="soup">
    </span>
    <span class="img_content">
        <a href="" target="view_frame">
            <img src="{% static "images/drinks.jpg" %}" alt="drinks">
    </span>
    <span class="img_content">
        <a href="" target="view_frame">
            <img src="{% static "images/deseart.jpg" %}" alt="drinks">
    </span>
    <span class="img_content">
        <a href="" target="view_frame">
            <img src="{% static "images/5.jpg" %}" alt="">
    </span>
</div>
<script>
$(function(){
    $(".contentimg .img_content").mouseover(function(){
      $(".img_content .mask").show();
  });
    $(".contentimg .img_content").mouseout(function(){
    $(".img_content .mask").hide();
  });
  });
</script>
{% endblock content %}
