{% extends 'recipes/base.html' %}
{% block content %}
<h1>Categories</h1>
{% load static %}
<div class="flex-container">
    <div class="flex-item">
        <img src="{% static "images/raphael-nogueira-63mHpYEyjCA-unsplash (2).jpg" %} style="width:120%" alt="drinks">
    </div>
    <div class="flex-item">
        <img src="{% static "images/taylor-kiser-6RJct18G_3I-unsplash (1).jpg" %}" alt="">
    </div>
    <div class="flex-item">
        <img src="{% static "images/adrien-sala-qvIrI4ueqzY-unsplash (1).jpg" %}" alt="">
    </div>
</div>
<!-- <script>
$(function(){
    $(".contentimg .flex-item").mouseover(function(){
      $(".flex-item .mask").show();
  });
    $(".contentimg .flex-item").mouseout(function(){
    $(".flex-item .mask").hide();
  });
  });
</script> -->
{% endblock content %}
