{% extends 'recipes/base.html' %}
{% block content %}
<h1>Categories</h1>
{% load static %}
<div class="flex-container">
    <div class="flex-item">
        <img src="{% static "images/ivan-timov-2L8VzgYikXE-unsplash.jpg" %}" alt="breakfast">
        <p>Breakfast</p>
    </div>
    <div class="flex-item">
        <img src="{% static "images/davide-cantelli-jpkfc5_d-DI-unsplash (1).jpg" %}" alt="lunch">
        <p>Lunch</p>
    </div>
    <div class="flex-item">
        <img src="{% static "images/raphael-nogueira-63mHpYEyjCA-unsplash (2).jpg" %}" alt="supper">
        <p>Supper</p>
    </div>
    <div class="flex-item">
        <img src="{% static "images/brooke-lark-HjWzkqW1dgI-unsplash (1).jpg" %}" alt="drinks">
        <p>Drinks</p>
    </div>
    <div class="flex-item">
        <img src="{% static "images/soup.jpg" %}" alt="seafood">
        <p>Seafood</p>
    </div>
    <div class="flex-item">
        <img src="{% static "images/anita-peeples-KMtq9dy-9Vc-unsplash (1).jpg" %}" alt="snacks">
        <p>Snacks</p>
    </div>
    <div class="flex-item">
        <img src="{% static "images/megan-hodges-xMh_ww8HN_Q-unsplash (1).jpg" %}" alt="vegatables">
        <p>Vegatables</p>
    </div>
    <div class="flex-item">
        <img src="{% static "images/emiliano-vittoriosi-OFismyezPnY-unsplash (1).jpg" %}" alt="meat">
        <p>Meat</p>
    </div>
    <div class="flex-item" id="last">
            <img src="{% static "images/taylor-kiser-6RJct18G_3I-unsplash (1).jpg" %}" alt="soup">
            <p>Soup or Noodles</p>
    </div>
    <div class="flex-item" id="last">
            <img src="{% static "images/dan-gold-E6HjQaB7UEA-unsplash.jpg" %}" alt="fast food">
            <p>Fast Food</p>
    </div>
    <div class="flex-item" id="last">
            <img src="{% static "images/toni-cuenca-CvFARq2qu8Y-unsplash.jpg" %}" alt="seasonal">
            <p>Seasonal</p>
    </div>
    <div class="flex-item" id="last">
            <img src="{% static "images/tr-davis--TDMdKfKcTg-unsplash.jpg" %}" alt="world">
            <p>World Cuisine</p>
    </div>
</div>
{% endblock content %}
