{% extends 'recipes/base.html' %}

{% block content %}
  <h2><span>{{ dish }}</span></h2>
  <div class="a">
    <form method="POST">
      {% csrf_token %}
      <label for="comment">Materials</label>
      <div class="form-groupc">
        <textarea rows="15" cols="50" id="comment" name="text"></textarea>
      </div>
      <br>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
  <div class="b">
    <form method="POST">
      {% csrf_token %}
      <label for="comment">Steps</label>
      <div class="form-groupc">
        <textarea rows="15" cols="50" id="comment" name="text"></textarea>
      </div>
      <br>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="img">
    <button type="submit">上传</button>
  </form>
  {% for img in imgs %}
    <img src="{{ img.img.url }}" />
  {% endfor %}
{% endblock content %}
