{% extends 'recipes/base.html' %}

{% block content %}
  <p>&nbsp;&nbsp;&nbsp;Dish: {{ dish }}</p>
  <br>&nbsp;&nbsp;&nbsp;
  <div>
  <form action="/action_page.php">
    <div class="form-groupc">
      <label for="comment">Materials</label>
      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
  </div>
  <div>
    <form action="/action_page.php">
      <div class="form-groupc">
        <label for="comment">Steps</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
    </div>
{% endblock content %}
