{% extends 'recipes/layout.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content %}
<h1 style="text-align: center">{{ logo }}</h1>
{% include 'recipes/nav.html' %}
<div id="slidershow" class="carousel slide" data-ride="carousel" data-interval = 3000 data-pause = "hover" data-wrap="true">
    <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'recipes/1.jpg' %}"/>
        </div>
        {% for img in imgs %}
        <div class="item ">
            <img src="../../static/recipes/{{img}} "/>
        </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#slidershow" role="button" data-slide="prev" >
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#slidershow" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
{% endblock %}
{% block css %}
<style>
  div[id="slidershow"]{
    margin-top: -2rem;
    width: 70%;
    height: 70%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 198px;
    display: block;
  }
</style>
{% endblock %}
