{% extends 'recipes/layout.html' %}
{% block content %}
{% load bootstrap4 %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="{% url 'recipes:index' %}">My Recipe</a>
      <li class="active"><a href="{% url 'recipes:categories' %}">Categories</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Groups<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">&nbsp; Beauty and young</a></li>
          <li><a href="#">&nbsp;Old People</a></li>
          <li><a href="#">&nbsp;Kids</a></li>
        </ul>
      </li>
        <li><a href="#">Popular dishes</a></li>
        <li><a href="#">Announcement</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="">
      <div class="form-group">
        <input type="text" class="form-control" style="width: 450px;" placeholder="Search" name="search">
      </div>
      <button class="btn btn-default" style="display:inline" type="submit" >
          <i class="glyphicon glyphicon-search"></i>
      </button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <div class="dropdown">
        <span id="user" data-toggle="dropdown"
        style="font-size:20px;color:orangered; text-decoration: none" aria-expanded="false">
            <i class="fa fa-user-circle-o" style="font-size:45px;color:orange"></i>
            {{ user.username }}
            <span class="caret"></span>
        </span>
        <ul class="dropdown-menu" role='menu' aria-labelledby="userMenu">
            <li><a class="dropdown-item" href="/accounts/profile/" tabindex="-1">Publish Recipe</a></li>
          <li><a class="dropdown-item" href="/accounts/profile/" tabindex="-1">My Profile</a></li>
          <li><a class="dropdown-item" href="/accounts/password/reset/" tabindex="-1">Change password</a></li>
          <li><a class="dropdown-item" href="" tabindex="-1">Personal Space</a></li>
          <li class="divider"></li>
          <li><a class="dropdown-item" href="/accounts/logout/" tabindex="-1">Log out</a></li>
        </ul>
      </div>
      {% else %}
      <li><a href="/accounts/signup/" style="color:white;"><span class="glyphicon glyphicon-user" style="color:white;"></span> Sign Up</a></li>
      &nbsp;&nbsp;
      <li><a href="/accounts/login/" style="color:white;"><span class="glyphicon glyphicon-log-in" style="color:white;"></span> Log in</a></li>
    </ul>
      {% endif %}
  </div>
</nav>
{% endblock %}
{% block js %}
{% load static %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
{% block css %}
<style>
  #user{
    padding-right:20px;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    padding-right:20px;
  }
</style>
{% endblock %}
