{% extends "recipes/nav.html" %}
{% load bootstrap4 %}
{% block content %}
<div>
  {% if form.errors %}
  <div>Your username and password didn't match. Please try again.</div>
  {% endif %}
  <form method='post' action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    {% buttons %}
      <button name="submit" class="btn btn-primary">Log in</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'users:personal' %}"  />
  </form>
  <div style="margin-left:80px; padding-top:0;"><a href="{% url 'users:password_reset_form' %}">Forgot password ?</a></div>
</div>
{% endblock content %}
